/* Color References

#89bdd3  Medium Blue
#99d3de  Light Blue
#090909  Dark Grey
#c9c9c9  Light Grey

*/

a:link, a:visited {
    color: #89bdd3;
}

A:hover {
    text-decoration: none;
    color: #99d3de;
}

footer {
    background: #090909;
    color: #c9c9c9;
}
